@model List<Dish>;

@{
    ViewData["Title"] = "Dishes";
}

<div class="d-flex w-100 align-items-center justify-content-center mt-5 mb-3">
    <h1 class="m-auto"><a href="/">Chefs</a> | Dishes</h1>
    <a href="/dishes/new">Add a Dish</a>
</div>
<div class="row mb-3">
    <h2 class="pb-3 border-bottom border-dark">Yum, take a look at our tasty dishes!!</h2>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var dish in Model)
                {
                    <tr>
                        <td>@dish.Name</td>
                        <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                        <td>@dish.Tastiness</td>
                        <td>@dish.Calories</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>